fastapi
uvicorn
python-dotenv
requests
pymupdf                # .pdf
python-docx            # .docx
openpyxl               # .xlsx
python-pptx            # .pptx
striprtf               # .rtf
openai
qdrant-client